<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>
        
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
      <div style=" display: inline-block;
                   position: fixed;
                   top: 0;
                   bottom: 0;
                   left: 0;
                   right: 0;
                   width: 500px;
                   height: 300px;
                   margin: auto;
                   background-color: #e8505b;">
           <h2 style="margin-top: 120px; margin-left:80px">{{errorMessage}}</h2>
      </div> 
    </body>
</html>