<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/weather.png">
        <title>About Page</title>
         {{>bootstrapLink}}
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="div1">
          {{>header}}
          <p style="color: #2bb2bb;">This is an Weather App where you can get accurate Weather Details with ease...</p>
          <img class="img1" src="/images/KarthikPic1.jpg" alt="Picture did not Loaded">
        </div>
      
        {{>footer}}
    </body>
</html>