<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/weather.png">
        <title>Help Page</title>
         {{>bootstrapLink}}
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="div1">
             {{>header}}
              <p><b>My mail id: </b> karthik@gmail.com</p>
              <a href="http://www.gmail.com">Mail Me</a>
        </div>
       
        {{>footer}}
        
    </body>
</html>