<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/weather.png">
        <title>Index Page</title>
        {{>bootstrapLink}}
        <link rel="stylesheet" href="/css/styles.css">
       
    </head>
    <body>
        <div class="div1">
             {{>header}}
            <h3 style="color: #3b6978;">Use this site to  get Weather!!!</h3><br/>
            <form>
            <input type="text" placeholder="Enter Location" name="location" class="searchLocation">
            <button class="btn btn-primary" type="submit" value="submit" id="b1">Search</button>
           
            </form><br/>
             <b> <p class="message1"></p></b>
             <p class="message2"></p>
        </div>
     
        {{>footer}}
        <script src="/js/script.js"></script>
        <script>var BotStar={appId:"se200aff1-dd7b-4ed6-8c39-1d30c389414a",mode:"popup"};!function(t,a){var e=function(){(e.q=e.q||[]).push(arguments)};e.q=e.q||[],t.BotStarApi=e;!function(){var t=a.createElement("script");t.type="text/javascript",t.async=1,t.src="https://widget.botstar.com/static/js/widget.js";var e=a.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}();}(window,document)</script>
    </body>
</html>